#FTABB:
browser = firefox:68
browser.headlessMode = true
screenshots.path = /evidencias/imagens/
painel.ativar_gravacao = true
painel.servico = Abrir o Sistema
painel.sigla = NIA
datapools.path = datapools
datapool.formato = yml
framework.web.finder.max_tentativas = 5
framework.web.finder.tempo_entre_tentativas = 3000
browser.timeouts.pageload = 300
plataforma.contexto = Contexto teste plataforma IA

# URLs de teste NIA 3.0 Segundo documentação FTABB:
plataforma.v3.homologa.link = https://plataforma.hm.bb.com.br/gaw/v3/



# FTABB - Configurações de proxy:
browser.firefox.preferences = network.proxy.type = 2; \
network.proxy.autoconfig_url = http://170.66.49.180/proxy.pac; \
accept_untrusted_certs = true; \
network.proxy.no_proxies_on = localhost.desenv.bb.com.br,localhost,localhost.bb.com.br,*.local,localhost.estatico.bb.com.br

# Configurações conforme documentação do FTABB(http://ftabb.intranet.bb.com.br/#/framework-canal/componentes-canal/componentes-ftabb-gaw-web)
plataforma.ambiente = homologa
plataforma.versao = v3
plataforma.canal = gaw

#browser.preferencias.firefox = network.proxy.no_proxies_on="bb.com.br,
#intranet.bb.com.br,
#labbs.com.br"; network.proxy.type = 1; network.proxy.http="cache.desenv.bb.com.br"; network.proxy.http_port=80

#Configuração para proxy tls handshake no firefox

#browser.preferencias.firefox = network.proxy.type=0; \
# network.proxy.http = "localhost"; \
# network.proxy.http_port = 40080; \
# network.proxy.ssl_port = 40080; \
# network.dns.disableIPv6 = true; \
# browser.sessionstore.restore_on_demand=false; \
# --log-level = 3; \
# accept_untrusted_certs = true; \
# network.proxy.no_proxies_on = "localhost,127.0.0.1,bb.com.br,intranet.bb.com.br,labbs.com.br,hm.bb.com.br,cache.desenv.bb.com.br"